@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f2eceb;
}

.app-title{
  font-family: 'Rozha One', serif;
  letter-spacing: 6px;
  color: #5c6e4a;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.title-container{
  display: flex;
  justify-content: center;
}

.app-logo{
  width: 50px;
  height: 50px;
  margin-left: 5px;
  justify-content: center;
  margin-top: 10px;
}